@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes page-scroll-down {
    0% { transform: translateY(0); }
    100% { transform: translateY(30px); }
}

.bg-main-color {
    background-color: var(--main-color);
}
